/build

# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Local properties and configs
local.properties
*.log

# CMake and native build output
.cxx/
cmake-build-*/

# Android specific
captures/
.externalNativeBuild/
outputs/
*.apk
*.aab

# Misc
.DS_Store
